@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --primary-violet: hsl(257, 40%, 49%);
    --primary-magenta: hsl(300, 69%, 71%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    min-height: 100vh;

    font-family: 'Open Sans', sans-serif;
    color: white;
    
    background-color: var(--primary-violet);
    background-image: url('./images/bg-desktop.svg');
}

main {
    display: flex;
}

.heading {
    font-family: 'Poppins', sans-serif;
}

